---
import BaseLayout from '../../../layouts/BaseLayout.astro'
import Nav from '../../../components/common/Nav.astro'
import Footer from '../../../components/common/Footer.astro'

import {getCollection, getEntry} from 'astro:content';

const learning = await getCollection('learning')

// async function getAuthors(name: string) {
// 	return (await getEntry('authors', name))
// }

let dsa = await learning.filter(learn => (learn.data.category === "dsa"))
---

<BaseLayout>
    <main class="font-sans bg-[#D7EFFE] text-black">
		<Nav color="#000000"/>
		<article class="min-h-[90vh] sm:px-10 px-6 pt-40 flex flex-col gap-32">
			<div class="grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-x-20 sm:gap-y-8 gap-y-1">
				{dsa.map(item => (
					<a href={`/learn/dsa/${item.slug}`} class="flex flex-col pt-10 gap-x-20">
						<img class="" src={item.data.image} alt={item.data.imageAlt} transition:name={`learn-${item.data.imageAlt}-image`}>
						<h1 class="my-4 lpt-lg:text-2xl lpt:text-xl tbl:text-2xl text-lg font-semibold" transition:name={`learn-${item.data.imageAlt}-title`}>{item.data.title}</h1>
						<div>
							<div>{}</div>
						</div>
					</a>
				))}
			</div>
		</article>
		<Footer/>
    </main>
</BaseLayout>