---
import { type CollectionEntry, getCollection } from 'astro:content';

import ContentLayout from '../../layouts/ContentLayout.astro';

export async function getStaticPaths() {
  const meetups = await getCollection('meetups');
  return meetups.map((meetup) => ({
    params: { slug: meetup.slug },
    props: meetup,
  }));
}

type Props = CollectionEntry<'meetups'>;
const meetup = Astro.props;
const { Content } = await meetup.render();
---

<ContentLayout title={meetup.data.title} description={`Meetups by ceol`} imageUrl={meetup.data.image}>
  <div class="flex sm:flex-row flex-col-reverse gap-10 items-center justify-between pt-14">
    <h1 class="flex-[2] lg:text-6xl sm:text-4xl text-2xl font-semibold sm:text-left" transition:name={`meetup-${meetup.data.imageAlt}-title`}>{meetup.data.title}</h1>
    <div class="flex-[1] sm:text-lg text-base flex justify-end">
      <img class="rounded-lg" transition:name={`meetup-${meetup.data.imageAlt}-image`} src={meetup.data.image} alt={meetup.data.imageAlt} />
    </div>
  </div>
  {meetup.data.date < (new Date()) && 
  <div class="bg-yellow-50 text-yellow-800 p-4 rounded-lg border border-yellow-200">This event already ended</div>
  }
  <div class="lpt-lg:ml-32 ml-0 prose max-w-4xl break-words">
    <Content />
  </div>
</ContentLayout>